@model IEnumerable<ToDoList.Models.Task>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
     @Html.ActionLink("Create New", "Create", "Task", new {@class = "col-large-12 btn btn-success btn-block add-task-button" })
</div>


@foreach (var item in Model.Reverse())
{
    <div class="jumbotron task-info-container">
        @Html.Partial("TaskInfo", item);
    </div>
}


