@model IEnumerable<ToDoList.Models.Task>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12 page-name">
        <h1>
            Task List
            <span class="glyphicon glyphicon-list-alt"></span>
        </h1>
    </div>
    <div class="col-md-12">
        @Html.ActionLink("Create New", "Create", "Task", new {@class = "btn btn-success btn-block add-task-button"})
    </div>
</div>


@foreach (var item in Model)
{
    <div class="task-info-container jumbotron">
        @Html.Partial("TaskInfo", item);
    </div>
}


