@model ToDoList.Models.Task

@{
    ViewBag.Title = "Read";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container body-content">
    <div class="task-info-container jumbotron">
        @Html.Partial("TaskInfo", Model)
    </div>
</div>
