.task-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px; }

.single-task .task-title {
  text-align: center;
  margin: 10px; }

.single-task .task-image {
  text-align: center; }

.single-task .task-description {
  margin-top: 20px; }

.add-task-button {
  margin: 30px; }

.body-content {
  margin-top: 50px; }

.page-name {
  text-align: center; }

